/* shared styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}
.primary-button{
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 16px 20px;
    border: none;
    border-radius: 6px;
    background-color: #FF900E;
    cursor: pointer;
}


/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 200px;
    
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}

nav>ul {
    display: flex;


}

nav li {
    list-style: none;
    margin: 25px;
    color: #424242;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
}
.banner-text{
    max-width: 600px;
    margin: 50px auto 20px;
    text-align: center;
}
.banner-title{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 10px;
}
.banner-description{
    color: #727272;
    padding-bottom: 20px;
}
.banner-picture{
    width: 100%;
}


/* responsive styles */
/* small devices */
@media screen and (max-width:576px){
    header{
        padding: 20px;
    }
    nav{
        flex-direction: column;
    }
    nav>ul{
        margin: 0px;
    }
    nav li{
        margin: 15px;
    }
}
/* medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    header{
        padding: 50px;
    }
    nav{
        flex-direction: column;
    }
}
