/* shared styles */
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

.primary-title {
    color: #131313;
    font-size: 2rem;
    font-weight: 700;
    padding: 10px 0px;
}

.primary-description {
    color: #727272;
    padding-bottom: 20px;
}

.primary-button {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 16px 20px;
    border: none;
    border-radius: 6px;
    background-color: #FF900E;
    cursor: pointer;
}


/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 200px;

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav>ul {
    display: flex;


}

nav li {
    list-style: none;
    margin: 25px;
    color: #424242;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
}

.banner-text {
    max-width: 600px;
    margin: 50px auto 20px;
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 10px;
}

.banner-picture {
    width: 100%;
}


/* main styles */
main {
    max-width: 1366px;
    margin: 70px auto;
}

/* teams styles */
.teams-container {
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.teams-img-container {
    width: 75%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.teams-text {
    padding-left: 30px;
    margin-right: 100px;
}

.teams-title {
    font-size: 2rem;
    padding-bottom: 10px;
}

.quick-list {
    color: #727272;
    font-weight: 500;
}

.features-span {
    color: #FF900E;
    font-weight: 700;
}

.facts-container {
    padding-top: 20px;
    padding-left: 100px;
}
.facts-card-container{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 40px;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* responsive styles */
/* small devices */
@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    nav>ul {
        margin: 0px;
    }

    nav li {
        margin: 15px;
    }

    main {
        margin: 5px;
    }

    .teams-container {
        flex-direction: column-reverse;
        padding: 5px;

    }

    .teams-text {
        padding-bottom: 10px;
        padding-left: 0px;
        margin: 5px;
        text-align: center;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
        padding: 5px;
        justify-content: center;
    }
    .facts-container{
        padding: 10px;
    }
    .facts-text-container{
        padding: 10px;
        text-align: center;
    }
    .facts-card-container{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        padding:0px  50px 50px 50px;
    }
}

/* medium devices */
@media screen and (min-width:576px) and (max-width:992px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    .main {
        margin: 5px;
    }

    .teams-container {
        flex-direction: column;
        padding: 0px;
    }

    .teams-img-container {
        padding-bottom: 50px;
        justify-content: center;
    }
    .teams-text {
        padding-bottom: 10px;
        padding-left: 0px;
        margin: 5px;
        text-align: center;
    }
    .facts-container{
        padding: 20px;
    }
    .facts-text-container{
        padding: 10px;
        text-align: center;
    }
    .facts-card-container{
        justify-content: center;
        gap: 15px;
        padding:0px  50px 50px 50px;
    }
}