* {
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* header styles */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 30px 200px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.5rem;
    font-weight: 700;
}

nav>ul {
    display: flex;


}

nav li {
    list-style: none;
    margin: 25px;
    color: #424242;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
}
.banner-text{
    max-width: 600px;
    margin: 50px auto 20px;
    text-align: center;
}
.banner-title{
    color: #131313;
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 10px;
}
.banner-description{
    color: #727272;
    padding-bottom: 20px;
}
.banner-picture{
    margin-top: 0px;
    width: 100%;
}
